.sec1{
  width:85%;
  border: #11999e solid 2px;
  border-radius: 20px;
}
.txt1{
  color: #11999e;
  font-weight: bold;
  font-family: ShabnamFD;
}
.sec2{
  width: 95%;
  border-radius: 20px;
  border: #11999e solid 2px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;}
.txt2{
  color: #11999e;
  font-family: ShabnamFD;
  font-weight: bold;
}
.timeSell{
  background-color: #11999e;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-family: ShabnamFD;
  font-weight: 500;
}