
.inputWrapper{
  width: 80%;
  background-color: "#fff";
  height: 50px;
  border: solid 1px #ddd;
  border-radius: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 20px; 
  box-shadow: 0px 0px 11px 9px rgba(0,0,0,0.1);
  display: flex;
  
}
.inputMega{
  border: none;
  width: 100%;
  font-size: 13px;
}
.inputMega:focus{
  outline: none;
   
}
.insuarWidjet{
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #11999e;
  color:#fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  width: 80%;
  text-align: center;
}
.expertWidgetTxt1{
  font-size: 14px;
  font-weight: 400;
  color: black;
}
.expertWidgetTxt2{
  font-size: 10px;
  font-weight: 300;
  color: #11999e;
}
.expertWidgetTxt3{
  background-color: #77aeb1;
  border-radius: 50%;
  width:60px ;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.expertWidgetTxt4{
  font-size: 12px;
  font-weight: 500;
  color: darkslategrey;
  text-align: center;
}